		*{
			margin: 0;
			padding: 0;
		}
		a{
			text-decoration: none;
			color: #0f88eb;
		}
		body{
			background-color: #e4e4e4;
			font-family: "微软雅黑";
		}
		.header{
			height: 100px;
			background: #fff;
			border-bottom: 3px solid #e4e4e4;
		}
		.header .left{
			float: left;
		}
		.header .logo{
			width: 300px;
			height: 58px;
			background: url("image/book.png")no-repeat top center ;
		}
		.header h3{
			width: 300px;
			line-height: 40px;
			text-align: center;
		}
		.user{
			width: 85px;
			line-height: 28px;
			float: right;
			margin-top: 5px;
		}
		.header a{
			color: #0f88eb;
		}
		.line{
			list-style: none;
			float: right;
			width: 102px;
			font-size: 13px;
			text-align: center;
			line-height: 40px;
			margin-top: 58px;
		}
		.line img{
			width: 20px;
			text-align: center;
			position: relative;
			top: 4px;
		}
		.content{
			height: 500px;
			background: #fff;
			margin: 0 auto;
		}
		.content .top{
			line-height: 30px;
			text-indent: 2em;
			color: #0f88eb;
		}
		.content table{
			margin: 0 auto;
			margin-top: 3px;
		}